<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conStrDebug" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\colin.buchanan\Documents\allPipeAccess\allpipe_dcs_be_2013.mdb;Persist Security Info=False;"/>
    <add name="conStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\Aefp01\share\allpipe_dcs\allpipe_dcs_be_2013.mdb;Persist Security Info=False;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
